<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>py-gal - A Python Image Gallery</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% include "header.html" %}

  <!-- ... -->
  <div class="container mt-5">
    <div class="gallery-container">
      <div class="gallery-row">
        {% for image in images %}
        <div class="gallery-item">
          <a href="{{ url_for('view_image', filename=image) }}">
            <img src="{{ url_for('get_image', filename=image) }}" alt="Image" />
            <p class="image-filename">{{ image }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
      <div class="pagination">
        <div class="previous">
          {% if page > 1 %}
            <a href="{{ url_for('gallery', page=page-1) }}" class="page-link">Previous</a>
          {% endif %}
        </div>
        <div class="next">
          {% if page < total_pages %}
            <a href="{{ url_for('gallery', page=page+1) }}" class="page-link">Next</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- ... -->

  {% include "footer.html" %}

  <!-- Bootstrap JS (Required) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
